*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
}


/* top nav bar */

body{
    background-color: black;
}

header{
    background-image: url("img/netflix-background.jpeg");
    background-size: cover;
    height: 650px;
    width: 100%;
    border-bottom: 5px solid red;
    
}



.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 100px;
    width: 120px;
    margin-right: 900px;
}

.navbar button{
    color: rgb(247, 247, 247);
    background-color: red;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    font-weight: 700;
}


.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: rgba(51, 51, 51, 0.4);
    width: 800px;
    margin-left: 400px;
    border-radius: 12px;
}

.hero-section:hover{
    transform: scale(1.02);
    transition-duration: 1s;
}
.heading-para{
    color: white;
    font-weight: 900;
    padding-bottom: 30px;
}

.first-para p{
    font-size: medium;
    font-weight: 700;
    color: white;
    padding-bottom: 30px    ;
}

.second-para p{
    font-weight: 400;
    color: white;
}

.in{
    margin-top: 50px;
    padding-bottom: 20px;
}

.in input{
    background-color: rgba(0, 0, 0, 0.5);
   height : 50px;
    width: 300px;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}

.in input:hover{
    border: 2px solid orange;
    color: white;
}
.in button{
    background-color: red;
    color: white;
    height : 50px;
    width: 150px;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}

.in button:hover{
    background-color: green;
    transform: scale(1.1);
}


.f1{
    height: 300px;
    width: 200px;
    border-radius: 8px;
}

.f1:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.tranding{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(51, 51, 51, 0.7);
}

.tranding h1{
  position: relative;
  top: 250px;
  bottom: 10px;
  left: 10px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(251, 85, 2);
  -webkit-text-stroke: 2px black; 
  
}

.text-part{
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0);

}

.box-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 200px;
}

.one-text p{
    color: white;
}

.one-text{
    height: 300px;
    width: 22%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(65, 65, 65, 0.3);
}

.one-text h4{
    color: white;
}

.one-text:hover{
    transform: scale(1.2);
    background-color: green;
     transition-duration: 0.5s;
}